.section {
    min-height: 1000px;
    overflow: hidden;
    position: relative;
    padding: 90px 10px 0px;
    background-size: cover;
}

.section:nth-child(even){
 background-color: #ccc;
     
}
#home {
 background-image: url('qw.jpg');
}
#about {
 background-image: url('id.jpg');
}
#home > div, #about > div{
 background-color: none;
 border-radius: 10px;
}
#product {
    background-image: url('bla.jpg');
    
}
#contact {
    background-image: url('sa.jpg');
}

#contact > div {
 background-color: white;
 border-radius: 20px;
 padding: 20px;
}

button .send {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100px;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }

  .nobtn, .yesbtn {
    float: left;
    width: 50%;
  }

  

  .nobtn {
    background-color: #ccc;
    color: black;
  }

  .yesbtn {
    background-color: #f44336;
  }

  .container {
    padding: 5px;
    text-align: center;
  }

  


  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    height: 20%;
  }

  

  .close {
    position: absolute;
    right: 25px;
    top: 10px;
    font-size: 10px;
    font-weight: bold;
    color: #f1f1f1;
  }
  .close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}
.clearfix:after {
    content: "";
    clear: both;
    display: table;
    
  }
  @media screen and (max-width: 25px) {
    .nobtn, .yesbtn {
       width: 25%;
    }
  }





